@charset "UTF-8";
:root {
  /*Color fuentes*/
  --color-main: #606470;
  --color-second: #f16821;
  /*Estilo de fuentes*/
  --font-primary: "Quicksand", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  /*Tamaño de fuentes*/
  --font-h1: 1.875rem;
  --font-h2: 1.625rem;
  --font-h3: 1.25rem;
  --font-p: 1rem;
  --font-li: 1rem;
  --font-span:1.125rem;
  /*Font-weight */
  --fw-xs: 200;
  --fw-s: 300;
  --fw-m: 400;
  --fw-l: 500;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 100%;
  line-height: 1.4;
  background-color: #fbfbfb;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

li {
  list-style-type: none;
  font-size: var(--font-li);
  color: inherit;
  font-weight: var(--fw-l);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
}

h1 {
  font-size: var(--font-h1);
  color: inherit;
  font-weight: var(--fw-m);
}

h2 {
  font-size: var(--font-h2);
  color: inherit;
  font-weight: var(--fw-s);
}

h3 {
  font-size: var(--font-h3);
  color: inherit;
  font-weight: var(--fw-s);
}

p {
  font-family: var(--font-secondary);
  font-size: var(--font-p);
  color: inherit;
  font-weight: var(--fw-xs);
}

span {
  font-size: var(--font-span);
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: -1px 4px 5px -2px rgb(168, 163, 168);
}
.header__logo {
  display: flex;
  gap: 0.5rem;
  min-width: 15%;
}
.header__logo-img {
  filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg) brightness(96%) contrast(96%);
  width: 25px;
}
.header__logo-span {
  font-weight: var(--fw-l);
}
.header__logo:hover {
  cursor: pointer;
}

.nav {
  width: 75%;
}
.nav__options {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.nav__options-menu {
  position: relative;
  padding: 1rem 0.2rem;
  border-radius: 2px;
}
.nav__options-menu:nth-child(7), .nav__options-menu:nth-child(8) {
  color: var(--color-second);
}
.nav__options-menu:hover {
  cursor: pointer;
}
.nav__options-menu ul {
  position: absolute;
  display: none;
  z-index: 10;
  cursor: pointer;
  top: 54px;
  left: 0;
  width: 10rem;
  background-color: var(--color-second);
  border-radius: 4px;
}
.nav__options-menu ul li:hover {
  background-color: rgb(251, 178, 142);
  border-radius: 4px;
}
.nav__options-menu ul li a {
  font-weight: var(--fw-m);
  padding: 0.3rem 0 0.3rem 1rem;
}
.nav__options-menu ul li a:hover {
  color: white;
}
.nav__options-menu ul li ul {
  position: absolute;
  top: 10px;
  left: 160px;
}
.nav__options-menu ul li ul li a {
  font-weight: var(--fw-m);
  padding: 0.3rem 0 0.3rem 1rem;
}
.nav__options-menu:hover > ul {
  display: block;
}
.nav__options-menu > ul > li {
  padding: 0.3rem;
}

.btnMenu {
  display: none;
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: var(--color-second);
  border: solid 2px black;
}
.btnMenu__logo {
  width: 2.2rem;
}

.btnMenu:hover {
  cursor: pointer;
}

.panel {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: var(--color-main);
  opacity: 0.95;
  transition: transform 0.4s ease;
  transform: translate(-100%, 0);
}
.panel__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
  height: inherit;
}
.panel__menu a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: var(--font-h2);
}
.panel__menu a:hover {
  background-color: var(--color-second);
  color: white;
}
.panel-active {
  transform: translate(0, 0);
}

.container {
  min-height: calc(100% - 63.56px);
  width: 80%;
  margin: 0 auto;
}
.container__presentation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2.5rem;
}
.container__presentation-text {
  margin: 2rem 0 3rem;
}
.container__presentation-btn {
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0.5rem;
  width: 12rem;
  background-color: var(--color-second);
  border-color: var(--color-second);
  color: #fbfbfb;
}
.container__presentation-btn:hover {
  cursor: pointer;
}
.container__carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4rem auto 6rem;
  width: 90%;
  gap: 1rem;
}
.container__carousel-option {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.container__carousel-option:hover {
  border-bottom: 2px solid var(--color-second);
  cursor: pointer;
}
.container__carousel-img {
  width: 60px;
}
.container__carousel-left {
  position: absolute;
  left: -30px;
}
.container__carousel-left-arrow {
  width: 1.375rem;
  filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg) brightness(96%) contrast(96%);
}
.container__carousel-left:hover {
  cursor: pointer;
}
.container__carousel-right {
  position: absolute;
  right: -30px;
}
.container__carousel-right-arrow {
  width: 1.375rem;
  filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg) brightness(96%) contrast(96%);
}
.container__carousel-right:hover {
  cursor: pointer;
}
.container__contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  gap: 1rem;
}
.container__contact-text {
  text-align: center;
}
.container__contact-btns {
  display: flex;
  gap: 4rem;
}
.container__contact-schedule {
  width: 80px;
  margin: 2rem auto;
}
.container__contact-call {
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0.5rem;
  color: var(--color-second);
  border-color: var(--color-second);
}
.container__contact-call:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.container__contact-specialist {
  filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg) brightness(96%) contrast(96%);
  width: 80px;
  margin: 2rem auto;
}
.container__contact-write {
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0.5rem;
}
.container__contact-write:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.footer {
  width: 100%;
}
.footer__social {
  margin-top: 5rem;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-second);
}
.footer__instagram {
  width: 30px;
}
.footer__facebook {
  width: 30px;
}
.footer__twitter {
  width: 30px;
}
.footer__whatsapp {
  width: 30px;
}
.footer__copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100%;
}
.footer__img {
  filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg) brightness(96%) contrast(96%);
  width: 20px;
}
.footer__span {
  font-size: 12px;
}

.cont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 133.21px);
  width: 80%;
  margin: 0 auto;
}
.cont__calculadora {
  border: solid black 0.0625rem;
  border-radius: 8px;
  padding: 16px;
  width: 19.5rem;
  background-color: #e3e3e3;
  box-shadow: 2px 10px 17px 0px rgb(145, 135, 145);
}
.cont__calculadora-pantalla {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 17.5rem;
  height: 3.75rem;
  border: solid black 0.0625rem;
  border-radius: 4px;
  background-color: #63686e;
  background-image: linear-gradient(150deg, #fff4e1 0, #aeafb0 50%, #596e81 100%);
}
.cont__calculadora-estilo {
  height: 1.875rem;
  border-radius: 4px;
  color: white;
  background-color: #5f6769;
  cursor: pointer;
}
.cont__calculadora-estilo:nth-child(1), .cont__calculadora-estilo:nth-child(2) {
  background-color: var(--color-second);
}
.cont__calculadora-opciones {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.4rem;
  grid-template-areas: ".      .      ce      c" "unox   x2     rx      div" "siete  ocho   nueve   por" "cuatro cinco  seis    menos" "uno    dos    tres    mas" "masm   cero   punto   igual";
}
.cont__calculadora-ce {
  grid-area: ce;
}
.cont__calculadora-c {
  grid-area: c;
}
.cont__calculadora-divisor {
  grid-area: unox;
}
.cont__calculadora-cuadrado {
  grid-area: x2;
}
.cont__calculadora-raiz {
  grid-area: rx;
}
.cont__calculadora-dividir {
  grid-area: div;
}
.cont__calculadora-siete {
  grid-area: siete;
}
.cont__calculadora-ocho {
  grid-area: ocho;
}
.cont__calculadora-nueve {
  grid-area: nueve;
}
.cont__calculadora-por {
  grid-area: por;
}
.cont__calculadora-cuatro {
  grid-area: cuatro;
}
.cont__calculadora-cinco {
  grid-area: cinco;
}
.cont__calculadora-seis {
  grid-area: seis;
}
.cont__calculadora-menos-operacion {
  grid-area: menos;
}
.cont__calculadora-uno {
  grid-area: uno;
}
.cont__calculadora-dos {
  grid-area: dos;
}
.cont__calculadora-tres {
  grid-area: tres;
}
.cont__calculadora-mas {
  grid-area: mas;
}
.cont__calculadora-signo {
  grid-area: masm;
}
.cont__calculadora-cero {
  grid-area: cero;
}
.cont__calculadora-punto {
  grid-area: punto;
}
.cont__calculadora-igual {
  grid-area: igual;
}
.cont__aviso {
  margin-top: 2rem;
  text-align: center;
}

.footer__social.footer__social--margin {
  position: absolute;
  bottom: 4vh;
  margin-top: 0;
  height: 8vh;
}

.footer__copyright.footer__copyright--height {
  position: absolute;
  height: 4vh;
  width: 100%;
  bottom: 0;
}

.cont-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 133.21px);
}
.cont-container__title {
  font-size: 40px;
  padding-bottom: 1rem;
}
.cont-container__numero {
  font-size: 6rem;
}
.cont-container__btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 17rem;
  margin-top: 1.5rem;
}
.cont-container__btn {
  padding: 0.4rem;
  border-radius: 4px;
  border: solid 1px black;
  font-family: var(--font-secondary);
  font-weight: var(--fw-l);
  font-size: 0.875rem;
  cursor: pointer;
}
.cont-container__btn:hover {
  background-color: var(--color-second);
  color: white;
  transform: scale(1.2);
}

.resenias-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: calc(100vh - 133.21px);
}
.resenias-cont__title {
  height: 450px;
  width: 30rem;
  box-shadow: 11px 14px 15px -1px rgba(0, 0, 0, 0.48);
}
.resenias-cont__title h1 {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
}
.resenias-cont__info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.resenias-cont__img {
  position: absolute;
  z-index: 2;
  height: 180px;
  width: 180px;
  top: 9rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.resenias-cont__img:hover {
  box-shadow: 0px 0px 10px 10px #ec731e;
}
.resenias-cont__film {
  margin-top: 12rem;
}
.resenias-cont__text {
  height: 5.625rem;
  width: 90%;
  text-align: center;
}
.resenias-cont__btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 13rem;
  height: 1rem;
  gap: 20rem;
  margin-top: 1.5rem;
}
.resenias-cont__btn {
  width: 1.375rem;
  border: none;
}
.resenias-cont__btn:hover {
  cursor: pointer;
}
.resenias-cont__btn:active {
  filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg) brightness(96%) contrast(96%);
}
.resenias-cont__ampliar {
  margin-top: 1rem;
  padding: 0.2rem;
  color: var(--color-second);
  border: solid 1px var(--color-main);
  border-radius: 4px;
}
.resenias-cont__ampliar:hover {
  background-color: var(--color-second);
  color: white;
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 0;
  z-index: 997;
  min-height: 100vh;
  width: 100%;
  background-color: #757a79;
  opacity: 0.9;
}
.modal__info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  padding: 1rem;
  border-radius: 4px;
  background-color: #222831;
  color: white;
}
.modal__title {
  margin-bottom: 0.5rem;
  color: var(--color-second);
}
.modal__year {
  margin-bottom: 0.3rem;
}
.modal__text {
  text-align: center;
  line-height: 1.6;
}
.modal__cerrar {
  position: absolute;
  padding: 0.4rem;
  top: 6px;
  right: 6px;
  border: 1px solid var(--color-second);
  border-radius: 50%;
  color: var(--color-second);
}
.modal__cerrar:hover {
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

@media (max-width: 950px) {
  .nav__options > li:nth-child(3),
  .nav__options > li:nth-child(5) {
    display: none;
  }
  .container__carousel > div:nth-child(3) {
    display: none;
  }
  .container__contact-btns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .modal__info {
    width: 60%;
  }
}
@media (max-width: 700px) {
  .header {
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .nav {
    display: none;
  }
  .btnMenu {
    display: block;
  }
  .container__carousel {
    width: 70%;
  }
  .container__contact-title {
    text-align: center;
  }
  .container__carousel > div:nth-child(2) {
    display: none;
  }
  .resenias-cont__title h1 {
    font-size: var(--font-h2);
  }
  .resenias-cont__img {
    width: 150px;
    height: 150px;
    top: 8.5rem;
  }
  .resenias-cont__film {
    margin-top: 10rem;
  }
  .resenias-cont__ampliar {
    margin-top: 3.5rem;
  }
  .resenias-cont__btns {
    top: 11rem;
    gap: 19rem;
  }
  .modal__info {
    width: 70%;
  }
  .modal__text {
    line-height: 1.4;
  }
}
@media (max-width: 450px) {
  .panel__menu a {
    font-size: var(--font-h3);
  }
  .cont-container__title {
    font-size: var(--font-h1);
  }
  .cont-container__numero {
    font-size: 5rem;
  }
  .cont-container__btns {
    width: 15rem;
  }
  .cont-container__btn {
    padding: 0.2rem;
  }
  .resenias-cont__title h1 {
    font-size: var(--font-h3);
    font-weight: var(--fw-l);
    min-width: 300px;
  }
  .resenias-cont__img {
    width: 140px;
    height: 140px;
    top: 8.5rem;
  }
  .resenias-cont__film {
    margin-top: 10rem;
  }
  .resenias-cont__text {
    line-height: 1.2;
  }
  .resenias-cont__ampliar {
    margin-top: 3.5rem;
  }
  .resenias-cont__btns {
    top: 10rem;
    gap: 15rem;
  }
  .modal__info {
    min-width: 297px;
    max-height: 590px;
    overflow: hidden;
  }
  .modal__text {
    overflow-y: scroll;
    padding: 0.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
