@use "mixins";

//Estilos del header
.header {
  position: relative;
  @include mixins.flex-box(row, nowrap, space-between, center);
  padding: 0 1rem;
  box-shadow: -1px 4px 5px -2px rgba(168, 163, 168, 1);

  &__logo {
    display: flex;
    gap: 0.5rem;
    min-width: 15%;

    &-img {
      filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg)
        brightness(96%) contrast(96%);
      width: 25px;
    }

    &-span{
      font-weight: var(--fw-l);
    }
  }

  &__logo:hover {
    cursor: pointer;
  }

}

//Estilos menu de navegacion
.nav{    
  width: 75%;    
  
    &__options {
      width: 100%;
      @include mixins.flex-box(row, nowrap, space-between, center);
  
      
      &-menu{
        position: relative;
        padding: 1rem 0.2rem;
        border-radius: 2px;
      }
      &-menu:nth-child(7),
      &-menu:nth-child(8){
        color: var(--color-second);
      }

      
      &-menu:hover{
        cursor: pointer;
      }

      &-menu  ul{
        position: absolute;
        display: none;
        cursor:pointer;
        top: 54px;
        left: 0;
        
        width: 10rem;
        background-color: var(--color-second);
        border-radius: 4px;
      }

      &-menu ul li:hover {
        background-color: rgb(251, 178, 142);
        border-radius: 4px;
      }

      &-menu ul li a{
        font-weight: var(--fw-m);
        padding:0.3rem 0 0.3rem 1rem ;
      }

      &-menu ul li a:hover{
        color: white;
      }

      &-menu ul li ul{
        position: absolute;
        top: 10px;
        left: 160px;
      }

      &-menu ul li ul li a{
        font-weight: var(--fw-m);
        padding:0.3rem 0 0.3rem 1rem ;
      }
      
      &-menu:hover > ul{
        display: block;
      }

      &-menu >ul >li {
        padding: .3rem;
      }
  
    }

    
  
}

.btnMenu{
  
    display: none;
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    padding: .2rem;
    background-color: var(--color-second);
    border: solid 2px black; 
  
  &__logo{
    width: 2.2rem;
  }
}

.btnMenu:hover{
  cursor: pointer;
}

.panel{
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color:var(--color-main);
  opacity: 0.95;
  transition: transform 0.4s ease;
  transform: translate(-100%,0);
  
  &__menu{
    @include mixins.flex-box(column,nowrap,space-evenly,center);
    width: inherit;
    height: inherit;
  }

  &__menu a {
    @include mixins.flex-box(row,nowrap,center,center);
    width: 100%;
    height: 100%;
    font-size: var(--font-h2);
  }

  &__menu a:hover{
    background-color: var(--color-second);
    color: white;
  }

  &-active{
    transform: translate(0,0);
  }
}



//Estilos del main

.container {
  min-height: calc(100% - 63.56px);
  width: 80%;
  margin: 0 auto;

  &__presentation {
    @include mixins.flex-box(column, nowrap, center, center);
    text-align: center;
    margin-top: 2.5rem;

    &-text {
      margin: 2rem 0 3rem;
    }

    &-btn {
      @include mixins.btn;
      width: 12rem;
      background-color: var(--color-second);
      border-color: var(--color-second);
      color: #fbfbfb;
    }

    &-btn:hover {
      cursor: pointer;
    }
  }

  &__carousel {
    @include mixins.flex-box(row, nowrap, center, center);
    position: relative;
    margin: 4rem auto 6rem;
    width: 90%;
    gap: 1rem;

    &-option {
      @include mixins.flex-box(column, nowrap, center, center);
      gap: 0.5rem;
      text-align: center;
    }

    &-option:hover {
      border-bottom: 2px solid var(--color-second);
      cursor: pointer;      
    }

    &-img {
      width: 60px;
    }

    &-left {
      position: absolute;
      left: -30px;

      &-arrow {
        width: 1.375rem;
        filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg)
          brightness(96%) contrast(96%);
      }
    }

    &-left:hover {
      cursor: pointer;
    }

    &-right {
      position: absolute;
      right: -30px;

      &-arrow {
        width: 1.375rem;
        filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg)
          brightness(96%) contrast(96%);
      }
    }

    &-right:hover {
      cursor: pointer;
    }
  }

  &__contact {
    @include mixins.flex-box(column, nowrap, center, center);
    min-height: 50vh;
    gap: 1rem;

    &-text {
      text-align: center;
    }

    &-btns {
      display: flex;
      gap: 4rem;
    }


    &-schedule {
      width: 80px;
      margin: 2rem auto;
    }

    &-call {
      @include mixins.btn;
      color: var(--color-second);
      border-color: var(--color-second);
    }

    &-call:hover {
      cursor: pointer;
      transform: scale(1.1);
    }


    &-specialist {
      filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg)
        brightness(96%) contrast(96%);
      width: 80px;
      margin: 2rem auto;
    }

    &-write {
      @include mixins.btn;
    }

    &-write:hover {
      cursor: pointer;
            transform: scale(1.1);
    }
  }
}

//Para ocultar elementos

.hidden{
  display: none;
}

//Estilos footer

.footer {
      
  &__social {
    margin-top: 5rem;
    height: 15vh;
    @include mixins.flex-box(row, nowrap, center, center);
    gap: 1rem;
    background-color: var(--color-second);
  }

  &__instagram {
    @include mixins.social-media;
  }

  &__facebook {
    @include mixins.social-media;
  }

  &__twitter {
    @include mixins.social-media;
  }

  &__whatsapp {
    @include mixins.social-media;
  }

  &__copyright {
    @include mixins.flex-box(row, nowrap, center, center);
          height: 8vh;
  }

  &__img {
    filter: invert(70%) sepia(55%) saturate(6666%) hue-rotate(347deg)
      brightness(96%) contrast(96%);
    width: 20px;
  }

  &__span{
    font-size: 12px;
  }
}
